# API Express.js
NEXT_PUBLIC_API_URL=http://localhost:9000

# Site
SITE_NAME=Meknow
SITE_URL=http://localhost:3000
SITE_DESCRIPTION=Prêt-à-porter premium fabriqué au Maroc

# Fonctionnalités
NEXT_PUBLIC_COD_ENABLED=true
